body {
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title1 {
    font-size: 0.85rem;
    font-weight: 800;
    letter-spacing: 0.05em;
    padding-bottom: 1rem;
}

.title2 {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 1.3em;
    padding: 1.5rem 0;
}

.description {
    font-size: 1rem;
    padding-bottom: 2rem;
    font-weight: 200;
    line-height: 1.4rem;
}

.button {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.2em;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    margin-bottom: 2rem;
}

.button:hover {
    cursor: pointer;
}

 /* nav */
nav {
    width: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-container {
    height: inherit;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    z-index: 1;
    position: relative;
    right: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.links a {
    text-decoration-line: none;
    color: white;
    margin-left: 30px;
    font-weight: 800;
}

.links a:hover {
    color: #1ed760;
}

.links span {
    pointer-events: none;
    font-size: 1rem;
    font-weight: 100;
    margin-left: 30px;
}

 /* sec1 */
#section1 {
    margin: 0 auto;
    min-height: 70vh;
    width: 100vw;
    padding-top: 160px;
    padding-bottom: 80px;
    background-color: #ff4632;
}

#section1 .content {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

#section1 img {
  max-width:100%;
  max-height:100%;
}

#section1 .text {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#section1 .note {
    font-size: 0.75rem;
    font-weight: 200;
}

#section1 .button {
    color: white;
    background-color: black;
}

 /* sec2 */
#section2 {
    margin: 0 auto;
    min-height: 606px;
    width: 100vw;
    background-color: #cb1582;
    padding-top: 120px;
    padding-bottom: 80px;
}

#section2 .content {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back {
    position: relative;
    height: 320px;
    width: 527px;
    background: linear-gradient(359.37deg, #000 3.09%, #ff4632 22.4%, #fae62d 46.64%, #9bf0e1 62.15%, #a0c3d2 79.91%, #4100f5 99.49%);
}

#front {
height: 404px;
width: 417px;
color: #cb1582;
background-color: #a5ffef;
display: flex;
align-items: flex-end;
padding: 40px;
font-size: 3.8rem;
font-weight: bolder;
line-height: 5rem;
z-index: 1;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#section2 .text {
    color: #a5ffef;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-basis: 50%;
    height: 320px;
}

#section2 .button {
    color: #cb1582;
    background-color: #a5ffef;
}

/* sec3 */
#section3 {
    padding-top: 80px;
    background-image: url(/images/LiE_circles.svg);
    background-size: auto 100%;
    color: #1ed760;
    background-color: #2d46b9;
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 606px;
  }

  #section3 .text {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 40%;
}

#section3 .button {
    background-color: #1ed760;
    color: #2d46b9;
}